//Comments
* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(to bottom right, #F7BEC1, #9B70C9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-container {
  background-color: white;
  min-width: 260px;
  width: 40%;
  height: auto;
  padding: 0;
  margin: 80px auto;
  border-radius: 10px;
  position: relative;
  font-family: 'Muli', sans-serif;


  .tasks {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #9A6FC8;
  }

  .empty {
    background-color: #E9E9E9;
    border-top-right-radius: 5px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
}

.inner-container {
  padding: 0 30px;


  ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    color: grey;
    border-radius: 5px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-left: 35px;
    padding-right: 0;
    cursor: pointer;
    font-size: 22px;
    margin: 0;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 15%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgba(154, 111, 200, .2);

  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #F7BEC1;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .button_delete {
    background-image: linear-gradient(to top, #F7BEC1, #9B70C9);
    border: none;
    color: white;
    width: 62px;
    height: 30px;
    border-radius: 5px;
    opacity: .7;

      &:hover {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
  }

  .button_allDone, .button_deleteAll {
    margin: 12px 0;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .button_deleteAll {
    border: 1px dotted #9B70C9;

    &:hover {
      background-color: rgba(154, 111, 200, .2);
      border: 1px solid #9B70C9;
    }
  }

  .button_allDone {
    border: 1px dashed #F7BEC1;

      &:hover {
        background-color: rgba(247, 190, 193, .2);
        border: 1px solid #F7BEC1;
      }
  }

  .input {
    padding: 0;

    .input-text {
      height: 2em;
      border: 2px solid #E9E9E9;
      padding: 4px 8px;
      margin-bottom: 40px;
      border-radius: 5px;
    }

    .input-text:focus {
      outline: none;
    }

    .button_submit {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #F8B973;
      border: none;
      width: 60px;
      height: 60px;
      padding: 0;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #f5c084;
      }

      &::after {
        content: "+";
        color: white;
        font-size: 36px;
        font-weight: 700;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
  }

  ::placeholder {
    color: grey;
  }

  .done {
    text-decoration: line-through;
    text-decoration-color: #9A6FC8;
    background-color: rgba(247, 190, 193, .2);
  }
}




